a{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
   border: 1px solid white;
   text-transform: uppercase;
   text-decoration: none;
   color:white;
   background-color: rgb(5, 113, 77);
}